/* Variables */
:root {
  /* default */
  font-size: 1em;
  /* spacing */
  --height-heading: 3.5em;
  --height-tab: 2.5em;
  --spacing: 1em;

  /* colors */
  --clr-accent: #fb5607;
  --clr-dark-01: #495057;
  --clr-dark-02: #343a40;
  --clr-dark-03: #212529;
  --clr-light-01: #f8f9fa;
  --clr-light-02: #e9ecef;
  --clr-light-03: #dee2e6;

  /* --clr-font: var(--clr-light-01);
  --clr-background: var(--clr-dark-01);
  --clr-tab-label: var(--clr-dark-02);
  --clr-editor: var(--clr-dark-03);
  --clr-icon: var(--clr-light-01); */
}

/* Utility classes */
.theme_dark {
  --clr-font: var(--clr-light-01);
  --clr-background: var(--clr-dark-01);
  --clr-tab-label: var(--clr-dark-02);
  --clr-editor: var(--clr-dark-03);
  --clr-icon: var(--clr-light-01);
}
.theme_light {
  --clr-font: var(--clr-dark-01);
  --clr-background: var(--clr-light-01);
  --clr-tab-label: var(--clr-light-02);
  --clr-editor: var(--clr-light-03);
  --clr-icon: var(--clr-dark-01);
}

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Merriweather", serif;
  min-height: 100vh;
  background-color: var(--clr-background);
}

code {
  font-family: "Roboto Mono", monospace;
}

textarea {
  width: 100%;
  min-height: inherit;
  background-color: transparent;
  outline: 0;
  color: inherit;
  padding: 0.5em;
  font-family: inherit;
  border: none;
}

h4 {
  font-size: 1.25rem;
}

/* Component classes */
#root {
}
.layout {
  background-color: var(--clr-background);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
@media screen and (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
  }
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-background);
  height: var(--height-heading);
}

.tab-label {
  background-color: var(--clr-tab-label);
  color: var(--clr-font);
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--height-tab);
  padding-inline: 0.5em;
}

.editor,
.preview {
  min-height: calc(100vh - (var(--height-heading) + var(--height-tab)));
  background: var(--clr-editor);
  color: var(--clr-font);
}

.preview_markdown {
  padding: var(--spacing);
  height: 100%;
}

.button_save {
  background-color: var(--clr-accent);
  color: var(--clr-light-01);
  font-size: 1em;
  padding: 0.5em;
}
